body, html {
  margin: 0;
  height: 100%;
  font-family: 'Roboto Condensed';
  font-size: 14pt;
}

#sidebar {
  background: #9db3cb;
  height: 90px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 5;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

#content {
  box-sizing: border-box;
  padding: 95px 15px 15px 15px;
  height: 5000px;
}

h1, h3 {
  display: inline;
}

a {
  position: relative;
  color: #9db3cb;
  /*color: #779ECB;*/
  text-decoration: none;
}

h1 a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #9db3cb;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #9db3cb;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.card {
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  outline: 1px solid #ddd;
}

#sidebar h1 {
  font-size: 45pt;
}

#footer {
  background: #9db3cb;
  height: 85px;
  box-shadow: inset 0 3px 12px rgba(0, 0, 0, 0.23), inset 0 3px 12px rgba(0, 0, 0, 0.16);
  text-align: center;
}

#footer p {
  margin: 0;
  padding-top: 15px;
}

#footer a {
  position: relative;
  top: 8px;
  left: 5px;
}
